<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dango.learning.mapper.CourseTablesMapper">

    <resultMap id="BaseResultMap" type="com.dango.learning.model.entity.CourseTables">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="chooseCourseId" column="choose_course_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="courseId" column="course_id" jdbcType="BIGINT"/>
            <result property="lecturerId" column="lecturer_id" jdbcType="BIGINT"/>
            <result property="courseName" column="course_name" jdbcType="VARCHAR"/>
            <result property="isFree" column="is_free" jdbcType="TINYINT"/>
            <result property="pic" column="pic" jdbcType="VARCHAR"/>
            <result property="validTimeStart" column="valid_time_start" jdbcType="TIMESTAMP"/>
            <result property="validTimeEnd" column="valid_time_end" jdbcType="TIMESTAMP"/>
            <result property="remarks" column="remarks" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,choose_course_id,user_id,
        course_id,lecturer_id,course_name,
        is_free,pic,valid_time_start,
        valid_time_end,remarks
    </sql>
</mapper>
