<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dango.content.mapper.CoursePublishMapper">

    <resultMap id="BaseResultMap" type="com.dango.content.model.entity.CoursePublish">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="tags" column="tags" jdbcType="VARCHAR"/>
            <result property="lecturerId" column="lecturer_id" jdbcType="BIGINT"/>
            <result property="lecturerName" column="lecturer_name" jdbcType="VARCHAR"/>
            <result property="mainCategory" column="main_category" jdbcType="VARCHAR"/>
            <result property="mainCategoryName" column="main_category_name" jdbcType="VARCHAR"/>
            <result property="subCategory" column="sub_category" jdbcType="VARCHAR"/>
            <result property="subCategoryName" column="sub_category_name" jdbcType="VARCHAR"/>
            <result property="pic" column="pic" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="preKnowledge" column="pre_knowledge" jdbcType="VARCHAR"/>
            <result property="market" column="market" jdbcType="VARCHAR"/>
            <result property="teachPlan" column="teach_plan" jdbcType="VARCHAR"/>
            <result property="lecturerInfo" column="lecturer_info" jdbcType="VARCHAR"/>
            <result property="publishDate" column="publish_date" jdbcType="TIMESTAMP"/>
            <result property="offlineDate" column="offline_date" jdbcType="TIMESTAMP"/>
            <result property="status" column="status" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="isFree" column="is_free" jdbcType="TINYINT"/>
            <result property="price" column="price" jdbcType="DOUBLE"/>
            <result property="originalPrice" column="original_price" jdbcType="DOUBLE"/>
            <result property="validDays" column="valid_days" jdbcType="INTEGER"/>
            <result property="countBuy" column="count_buy" jdbcType="INTEGER"/>
            <result property="countStudy" column="count_study" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,tags,
        lecturer_id,lecturer_name,main_category,
        main_category_name,sub_category,sub_category_name,
        pic,description,pre_knowledge,
        market,teach_plan,lecturer_info,publish_date,
        offline_date,status,remark,
        is_free,price,original_price,
        valid_days,count_buy,count_study
    </sql>

    <update id="incrementCountStudy">
        UPDATE course_publish
        SET count_study = count_study + 1
        WHERE id = #{countId}
    </update>
</mapper>
