<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dango.content.mapper.CoursePublishPreMapper">

    <resultMap id="BaseResultMap" type="com.dango.content.model.entity.CoursePublishPre">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="tags" column="tags" jdbcType="VARCHAR"/>
        <result property="lecturerId" column="lecturer_id" jdbcType="BIGINT"/>
        <result property="lecturerName" column="lecturer_name" jdbcType="VARCHAR"/>
        <result property="mainCategory" column="main_category" jdbcType="VARCHAR"/>
        <result property="mainCategoryName" column="main_category_name" jdbcType="VARCHAR"/>
        <result property="subCategory" column="sub_category" jdbcType="VARCHAR"/>
        <result property="subCategoryName" column="sub_category_name" jdbcType="VARCHAR"/>
        <result property="pic" column="pic" jdbcType="VARCHAR"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="preKnowledge" column="pre_knowledge" jdbcType="VARCHAR"/>
        <result property="market" column="market" jdbcType="VARCHAR"/>
        <result property="teachPlan" column="teach_plan" jdbcType="VARCHAR"/>
        <result property="lecturerInfo" column="lecturer_info" jdbcType="VARCHAR"/>
        <result property="dateCreated" column="date_created" jdbcType="TIMESTAMP"/>
        <result property="dateUpdated" column="date_updated" jdbcType="TIMESTAMP"/>
        <result property="isFree" column="is_free" jdbcType="TINYINT"/>
        <result property="price" column="price" jdbcType="DOUBLE"/>
        <result property="originalPrice" column="original_price" jdbcType="DOUBLE"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="validDays" column="valid_days" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,tags,
        lecturer_id,lecturer_name,main_category,
        main_category_name,sub_category,sub_category_name,
        pic,description,pre_knowledge,
        market,teach_plan,lecturer_info,date_created,
        date_updated,is_free,price,
        original_price,status,valid_days
    </sql>
</mapper>
