<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dango.content.mapper.CourseBaseMapper">

    <resultMap id="BaseResultMap" type="com.dango.content.model.entity.CourseBase">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="lecturerName" column="lecturer_name" jdbcType="VARCHAR"/>
            <result property="lecturerId" column="lecturer_id" jdbcType="BIGINT"/>
            <result property="tags" column="tags" jdbcType="VARCHAR"/>
            <result property="mainCategory" column="main_category" jdbcType="VARCHAR"/>
            <result property="subCategory" column="sub_category" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="preKnowledge" column="pre_knowledge" jdbcType="VARCHAR"/>
            <result property="pic" column="pic" jdbcType="VARCHAR"/>
            <result property="dateCreated" column="date_created" jdbcType="TIMESTAMP"/>
            <result property="dateUpdated" column="date_updated" jdbcType="TIMESTAMP"/>
            <result property="auditStatus" column="audit_status" jdbcType="VARCHAR"/>
            <result property="publishStatus" column="publish_status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,lecturer_name,
        lecturer_id,tags,main_category,
        sub_category,description,pre_knowledge,
        pic,date_created,date_updated,
        audit_status,publish_status
    </sql>
</mapper>
